*, *::before, *::after {
    box-sizing: border-box;
  }
  

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #a5b4fc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
    margin: 20px auto;
    justify-items: center;
    justify-content: center;
    max-width: 80%;
    gap: 30px 0px;
}

.book-card {
    margin: 0px;
    padding: 5px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    border: solid black 1px;
    background-color: #eef2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-card * {
    margin-bottom: 5px;
}


button, .submit-btns input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a5b4fc;
    color: black;
    border: solid black 1px;
}

button:hover {
    cursor: pointer;
    background-color: #4f46e5;
    color: #eef2ff;
}

.dialog-wrapper {
    max-width: 300px;
}

#add-book-dialog {
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #eef2ff;
}

.submit-btns button, .submit-btns input {
    width: 80px;
    height: 30px;

}

.submit-btns input:hover {
    cursor: pointer;
    background-color: #4f46e5;
    color: #eef2ff;
}

#add-book-form div {
    padding: 5px;
}


#add-book-btn {
    font-size: 18px;
    font-weight: 550;
    background-color: #eef2ff;
    border-radius: 10px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}

#add-book-btn:hover {
    background-color: #4f46e5;
}